body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .banner {
    width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .image_1 {
    width: 800px;
    height: 400px;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .image {
width: auto;
height: auto;


  }
  
  .title {
    padding: 20px;
    margin: 0; 
  }
  
  .clear {
    clear: both;
  }
  
  h1 {
    font-size: 35px;
    margin-left: 10px;
  }

  
  p {
    color:gray ;
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  li {
    color: gray;
    margin-left: 25px;
    padding: 5px;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button {
    background-color: #00aaff;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    line-height: 4.5;
  }
  
  
